.App-header {
  background-color: #282c34;
  color: white;
}

.App-navList {
  display: flex;
  align-items: center;
  list-style: none;
}

.App-navItem{
  padding: 0 1rem;
}

.App-navItem:first-child {
  padding: 0;
}

.App-navItem:last-child {
  margin-left: auto;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-link,
.App-link:visited {
  color: #fff;
  text-decoration: none;
  transition: color .4s ease-in-out;
}

.App-link:hover {
  color: #61dafb;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
